---
# This CI will only work for trusted contributors. CI for public contributors
# runs via a webhook on the merge requests. There's nothing you have to do if
# you want your changes tested -- created pipelines will be automatically
# linked in the merge request and appropriate labels will be added to it.
# Changes to this file will NOT be reflected in the testing.

include:
  - project: cki-project/pipeline-definition
    ref: main
    file: kernel_templates.yml

workflow: !reference [.workflow]

# Basic bridge job
.trigger:
  trigger:
    branch: rhel8
  variables:
    builder_image: quay.io/cki/builder-rhel8.4
    name: kernel-rhel8
    architectures: 'x86_64 ppc64le aarch64 s390x'
    kpet_tree_family: rhel8
    native_tools: 'true'
    disttag_override: '.el8_4'

# Realtime specific configuration
.realtime_check:
  trigger:
    branch: rhel8-rt
  variables:
    builder_image: quay.io/cki/builder-rhel8.4
    name: kernel-rt-rhel8
    merge_branch: 8.4-rt
    disttag_override: '.el8_4'

# Full RT pipeline for -rt branch
.realtime_full:
  trigger:
    branch: rhel8
  variables:
    builder_image: quay.io/cki/builder-rhel8.4
    name: kernel-rt-rhel8
    kpet_tree_family: rhel8-rt
    disttag_override: '.el8_4'
    RUN_ONLY_FOR_RT: 'true'

# regular pipelines

merge_request_regular:
  extends: [.internal, .merge_request, .with_notifications, .rhel_common,
            .trigger]

realtime_check_regular:
  extends: [.internal, .merge_request, .realtime_check_common,
            .realtime_check]

baseline_regular:
  extends: [.internal, .baseline, .with_notifications, .rhel_common,
            .trigger]

# realtime branch pipelines

merge_request_realtime:
  extends: [.internal, .merge_request, .with_notifications, .realtime_pipeline_common,
            .realtime_full]

baseline_realtime:
  extends: [.internal, .baseline, .with_notifications, .realtime_pipeline_common,
            .realtime_full]

# private pipelines

merge_request_private:
  extends: [.scratch, .merge_request, .rhel_common,
            .trigger]

realtime_check_private:
  extends: [.scratch, .merge_request, .realtime_check_common,
            .realtime_check]

merge_request_realtime_private:
  extends: [.scratch, .merge_request, .realtime_pipeline_common,
            .realtime_full]

# no private baselines as repos are mirrored
